{% extends 'core/main.html' %}
{% load static %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}

<div class="container-lg">
    <div style=" background-color: #d8d8d8; padding-top:186px; padding-bottom:186px; text-align:center;">
        <h2>La contraseña ha sido cambiada</h2>
        <br>
        <p class="h5">Puede volver a iniciar sesion</p>
        <br>
        <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesion</a>
    </div>
</div>       
{% endblock %}