{% extends 'core/main.html' %}
{% load static %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}

<div class="container-lg">
<div style=" background-color: #d8d8d8; padding-top:140px; padding-bottom:140px; text-align:center;">
    <h2>Nueva Contraseña</h2>
    {% if validlink %}

    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.errors }}
            <label>{{ field.label_tag }}</label>
            <p>{{ field }}</p>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>

    {% else %}
    <p style="color:red">Token invalido</p>
    <p>
    <a href="{% url 'password_reset' %}">Solicitar nuevo token de restablecimiento de contraseña</a>
    </p>
    {% endif %}
</div>
</div> 
{% endblock %}