{% extends 'core/main.html' %}
{% load static %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}

<div class="container-lg">
  <div style=" background-color: #d8d8d8; padding-top:162px; padding-bottom:162px; text-align:center;">
    <h2>Recuperar Contraseña</h2>
    <br>
    <p class="h5">Por favor siga las instucciones para poder restablecer su contraseña.<br>
    Si no lo recibiste un email verifica que el correo que ingresaste sea el<br>
    correcto o revisa tu bandeja de correo no deseado.</p>
    <br>
    <a href="{% url 'home' %}" class="btn btn-primary">Volver al inicio</a>
</div>       


{% endblock %}