{% extends 'core/main.html' %}
{% load static %}
{% block title %}Restablecer Contraseña{% endblock %}
{% block content %}
<div class="container-lg">
  <div style=" background-color: #d8d8d8; padding-top:183px; padding-bottom:183px; text-align:center;">
        <form method="POST">
            <h2>Recuperar Contraseña</h2>
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
            {{ field.errors }}
                <label>{{ field.label_tag }}</label>
                <p>{{ field }}</p>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Enviar correo de recuperacion</button>
        </form>
    </div>
</div>       


{% endblock %}