{% extends 'core/main.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}

<div class="container-fluid text-white " style="background-image: url({% static 'core/img/home-header.png' %})">    
    <div class="row" style="padding-top:50px; padding-bottom:50px; text-align:center;" >
    <div class="col mx-auto">
      <img width="320" height="320" src="{% static 'core/img/home-house.png' %}" class="rounded-circle  " ></a>
   </div>
   <div class=" col mx-auto align-self-center ">
      <h1>Encuentra el hogar de tus sueños </h1>
      <div style = "padding-top:20px;"  >
        <a href = "{% url 'projects' %}" class="btn-lg btn-primary" style="text-decoration: none;">Exprora nuestros proyectos</a>
      </div>
    </div>
  </div> 
</div>

<div class="container pt-5 pb-5 text-center">
<h2 style="padding-bottom:10px;">Ecuentra el hogar de tus sueños con 3 simples pasos</h2>
  <div class="row">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <img style="padding-bottom:20px;" src="{% static 'core/img/home-paso1.svg' %}"  ></a>
      <h4>Paso 1<br>Escoge tu proyecto</h4>
      <p style="font-size: 1.2em;">Contactanos para asesorarte en el proceso</p>
    </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <img style="padding-bottom:20px;" src="{% static 'core/img/home-paso2.svg' %}" ></a>
      <h4>Paso 2<br>Agenda una visita</h4>
      <p style="font-size: 1.2em;">Un agente te acompañará en el descubrimiento de tu nuevo hogar</p> 
    </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
      <img style="padding-bottom:20px;" src="{% static 'core/img/home-paso3.svg' %}" ></a>
      <h4>Paso 3<br>Obtén tu proyecto</h4>
      <p style="font-size: 1.2em;">Reserva tu futura vivienda</p>
    </div>
  </div>   
  <div style = "padding-top:20px;"  >
  <a href = "{% url 'projects' %}" class="btn-lg btn-primary" style="text-decoration: none;">Exprora nuestros proyectos</a>
  </div>
</div>

{% endblock %}