{% extends 'core/main.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
<div class="container-fluid p-5 mb- bg-primary text-white">
  <div style="padding-top:10px; text-align:center;">
        <h2>Nuestros proyectos</h2>
  </div>
</div>

<div class="container">
  <div class="row my-4 text-center">
    {% for project in project_list %}
        <div class="col-md-4 p-4">
            <div class="card card-project" style="background-color: #e8e8e8;">
            <img src="{{project.image.url}}" class="card-img-top" />
            <div class="card-body">
              <h2>{{project.title}}</h2>
              <div>
              <hr>
              <p>{{project.content|striptags|safe|truncatechars:"100"}}</p>
              <a href="{% url 'project' project.id project.title|slugify %}" class="btn btn-primary">Ver proyecto</a>
              <hr>
              <p class="text-left" style= "margin-bottom: 0rem;"><b>Fecha de creacion:</b><br>
               {{project.created.date}} </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

